<div id="messages"
     class="messages"
     {% if hx_oob %}hx-swap-oob="true"{% endif %}>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="message message-{{ message.tags }}"
                    role="alert"
                    x-data="{show: true}"
                    x-show="show"
                    x-transition
                    x-init="setTimeout(() => show = false, 2000)">{{ message.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
